/**
 * Decksys Media Query Documentation
 *
 * @project   Decksys
 * @version   0.0.1
 * @authors   Decksys Team
 * @Date      Oct 2 2017 - 
 *
**/


/** 
|---------------------------------------------------------------------------------------------------
| Page 1 :  Home Page Section
|---------------------------------------------------------------------------------------------------
|
**/

@media only screen and (min-width:768px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    [class*='col-'] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .appHeader {
        min-height: 250px;
    }
    .hostingTypes {
        margin: 0 5%;
    }
    .featureContainer {
        margin-bottom: 0;
    }

}

@media only screen and (min-width:991px) {

   
}

@media only screen and (min-width:1200px) {}


/** 
|---------------------------------------------------------------------------------------------------
| Page 2 :  SME Page Section
|---------------------------------------------------------------------------------------------------
|
**/

@media only screen and (min-width:768px) {
    .smeOverride {
        min-height: 350px;
    }
    #linuxHosting {
        margin: 0;
    }
    .asideF_L_Container {
        margin: 0 auto;
        width: 60%;
    }
    .howToPay {
        width: 110%;
        padding-top: 50px;
        margin-left: unset;
        transform: unset;
    }
    .tabHostingFeatureContainer section.tabFeatureContent div.paddOnXS {
        padding-left: unset;
        padding-right: unset;
    }
}

@media only screen and (min-width:991px) {
    .howToPay {
        width: unset;
    }
}

@media only screen and (min-width:1200px) {
    .show_on_lg {
        display: block;
    }
    .tabFeatureContent .asideF_L_Container ul.featuresList {
        margin-top: -40px;
    }
    .asideF_L_Container {
        margin: unset;
        width: unset;
    }
    .tabFeatureContent .asideF_L_Container ul.featuresList {
        padding: 0;
    }
    .asideF_L_Container ul li p {
        font-size: 14px;
    }
    .tabFeatureContent .chatFeature a {
        position: relative;
        bottom: unset;
        left: 50%;
        transform: translateX(-50%);
    }
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 3 :  Dedicated Server Styling Part
|---------------------------------------------------------------------------------------------------
|
**/

@media only screen and (max-width:768px) {
   .appHeader ul li a {
    color: #fff !important;
}
.appHeader ul li
{
width:100% !important;
}

}

@media only screen and (min-width:768px) {
    .d_s_Override {
        min-height: 350px;
    }

}



@media only screen and (max-width: 600px) and (min-width: 300px) {
    .d_s_Override {
        min-height: 350px;
    }

.hosting {
    height: 250px;
}
.contactAddress {
    height: 400px;
}
.textleft{
text-align:left;
}

}

@media only screen and (min-width:991px) {
    .d_s_Override {
        min-height: 375px;
    }
    .dedicatedServer .d_s_ContentContainer .d_s_Content {
        margin-bottom: 20px;
    }
    .d_s_FeatureContainer .d_s_FeatureList {
        margin-bottom: unset;
        text-align: unset;
        border: unset;
        border-radius: unset;
    }
}



@media only screen and (min-width:400px){
    .C_H_ContentContainer .C_H_Content
    {
        margin-top: 20px;
    }
}
