/**
 * Decksys Styling Documentation
 *
 * This Decksys Version Uses Bootstrap v3.3.7(Stable Vesion) 
 *
 * @project   Decksys
 * @version   0.0.1
 * @package   html-css and Bootstrap
 * @authors   Decksys Team
 * @Date      Oct 2 2017 - 
 *
**/

body {
        font-family: Nunito-semibold;

}

td{
    width: 160px;
}
.font-initial{
font-weight:initial;
}

/**
*@ Note :This Section Only Covers the default Bootstrap inbuilt Class Override
*
**/

.container {
    padding-left: 0;
    padding-right: 0;

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.customHeading{
    text-decoration: underline;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.icon-bar {
    background-color: #40c7f7!important;
}

.navbar-toggle {
    border: 1px solid #76B1FF !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border: none;
}


/**
|
|@ Sticky Helpline Section (Global Required)
|
**/



.helpline {
    position: fixed;
    top: 50%;
    right: -180px;
    margin: 0;

    padding: 0;
    z-index: 1020;
    transform: translateY(-50%);
}

.helpline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.helpline ul li {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.helpline ul li p {
    padding: 0px;
    margin: 5px;
font-size: 0.8em;
    float: left;
    color: #000;
    line-height: 3.5;
}

.helpline ul li img {
    float: left;
    margin: 8px 5px;
    margin-right: 10px;
}

.helpline ul li:hover {
    margin-left: -415px;
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 1 : Landing (or) Decksys Home Page Styling
|---------------------------------------------------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/


/**
*
@ Decksys Header and Navbar Styling Part
*
*/

.appHeader {
    background-image: url("../images/server-1.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}


.decksysBrandLogo {
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    height: 60px;
}
/**
*
@ navigation
*
*/

.nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    float: left; /* Clear floats */

    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}
.nav li {
    float: left;
    position: relative;
}
.nav a {
    display: block;
    padding: 10px;
    color: #fff;

    text-decoration: none;
}
.nav a:hover {
    color: #fff;
    background-color: #0166a0;
    text-decoration: none;
}

/*--- DROPDOWN ---*/
.nav ul {
    /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px;
    font-size: 0.8em; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
    /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
    margin-left: -40px;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #0166a0;
    text-decoration: none;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #333;
}

/* Mobile Menu */

ul.nav li.dropdown:hover > ul.dropdown-menu {
   
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* End Mobile Menu */


.navbarCustom {
    background-color: transparent;
    border: 0;
}

.appHeader ul {
    border-radius: 10px !important;
}

.appHeader ul li {
    background-color: #008dd2;
}

.appHeader ul li a {
    color: #fff!important;
}

.customerLogin {
    background-color: #474e9e !important;
}

/* start About Header */

.appHeaderAbout {
    background-image: url("../images/about_us.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderAbout ul {
    border-radius: 10px !important;
}

.appHeaderAbout ul li {
    background-color: #008dd2;
}

.appHeaderAbout ul li a {
    color: #fff!important;
}
/* End About Header */
/* Start Domain Header*/


.appHeaderDomain {
    background-image: url("../images/domain.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderDomain ul {
    border-radius: 10px !important;
}

.appHeaderDomain ul li {
    background-color: #008dd2;
}

.appHeaderDomain ul li a {
    color: #fff!important;
}


/* SSL Header */

/* Start Domain Header*/


.appHeaderSSL {
    background-image: url("../images/ssl.png");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderSSL ul {
    border-radius: 10px !important;
}

.appHeaderSSL ul li {
    background-color: #008dd2;
}

.appHeaderSSL ul li a {
    color: #fff!important;
}

/* End SSL Header */


/* start SME Header */

.appHeaderSME {
    background-image: url("../images/SME_Hosting.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderSME ul {
    border-radius: 10px !important;
}

.appHeaderSME ul li {
    background-color: #008dd2;
}

.appHeaderSME ul li a {
    color: #fff!important;
}
/* End SME Header */

/* start Dedicated Header */

.appHeaderDedicated {
    background-image: url("../images/dedicated.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderDedicated ul {
    border-radius: 10px !important;
}

.appHeaderDedicated ul li {
    background-color: #008dd2;
}

.appHeaderDedicated ul li a {
    color: #fff!important;
}
/* End Dedicated Header */

/* start Cloud Header */

.appHeaderCloud {
    background-image: url("../images/cloud1.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderCloud ul {
    border-radius: 10px !important;
}

.appHeaderCloud ul li {
    background-color: #008dd2;
}

.appHeaderCloud ul li a {
    color: #fff!important;
}
/* End Cloud Header */

/* start Wordpress Header */

.appHeaderWordpress {
    background-image: url("../images/wordpress1.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderWordpress ul {
    border-radius: 10px !important;
}

.appHeaderWordpress ul li {
    background-color: #008dd2;
}

.appHeaderWordpress ul li a {
    color: #fff!important;
}
/* End Wordpress Header */

/* start Wordpress Header */

.appHeaderFreelancer {
    background-image: url("../images/freelancer.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderFreelancer ul {
    border-radius: 10px !important;
}

.appHeaderFreelancer ul li {
    background-color: #008dd2;
}

.appHeaderFreelancer ul li a {
    color: #fff!important;
}
/* End Wordpress Header */


/* start ContactUs Header */

.appHeaderContact {
    background-image: url("../images/contact.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderContact ul {
    border-radius: 10px !important;
}

.appHeaderContact ul li {
    background-color: #008dd2;
}

.appHeaderContact ul li a {
    color: #fff!important;
}
/* End ContactUs Header */


/* start Ecommerce Header */

.appHeaderEcommerce {
    background-image: url("../images/ecommerce.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderEcommerce ul {
    border-radius: 10px !important;
}

.appHeaderEcommerce ul li {
    background-color: #008dd2;
}

.appHeaderEcommerce ul li a {
    color: #fff!important;
}
/* End Ecommerce Header */


/* start Enterprise Header */

.appHeaderEnterprise {
    background-image: url("../images/enterprise.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderEnterprise ul {
    border-radius: 10px !important;
}

.appHeaderEnterprise ul li {
    background-color: #008dd2;
}

.appHeaderEnterprise ul li a {
    color: #fff!important;
}
/* End Enterprise Header */


/* start Enterprise Header */

.appHeaderReseller {
    background-image: url("../images/reseller.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderReseller ul {
    border-radius: 10px !important;
}

.appHeaderReseller ul li {
    background-color: #008dd2;
}

.appHeaderReseller ul li a {
    color: #fff!important;
}
/* End Enterprise Header */


/* start Terms Header */

.appHeaderTerms {
    background-image: url("../images/terms.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderTerms ul {
    border-radius: 10px !important;
}

.appHeaderTerms ul li {
    background-color: #008dd2;
}

.appHeaderTerms ul li a {
    color: #fff!important;
}
/* End Terms Header */

/* start Terms Header */

.appHeaderPrivacy {
    background-image: url("../images/privacy.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderPrivacy ul {
    border-radius: 10px !important;
}

.appHeaderPrivacy ul li {
    background-color: #008dd2;
}

.appHeaderPrivacy ul li a {
    color: #fff!important;
}
/* End Terms Header */



/* start Terms Header */

.appHeaderRefund {
    background-image: url("../images/refund.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderRefund ul {
    border-radius: 10px !important;
}

.appHeaderRefund ul li {
    background-color: #008dd2;
}

.appHeaderRefund ul li a {
    color: #fff!important;
}
/* End Terms Header */
/* start Terms Header */

.appHeaderCart {
    background-image: url("../images/cart.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderCart ul {
    border-radius: 10px !important;
}

.appHeaderCart ul li {
    background-color: #008dd2;
}

.appHeaderCart ul li a {
    color: #fff!important;
}
/* End Terms Header */

/* start Terms Header */

.appHeaderRazorpay {
    background-image: url("../images/razorpay.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderRazorpay ul {
    border-radius: 10px !important;
}

.appHeaderRazorpay ul li {
    background-color: #008dd2;
}

.appHeaderRazorpay ul li a {
    color: #fff!important;
}
/* End Terms Header */


/* start Terms Header */

.appHeaderProduct {
    background-image: url("../images/product.jpg");
    min-height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.appHeaderProduct ul {
    border-radius: 10px !important;
}

.appHeaderProduct ul li {
    background-color: #008dd2;
}

.appHeaderProduct ul li a {
    color: #fff!important;
}
/* End Terms Header */




/**
@ Decksys Support Section Styling Part
**/

.supportSection {
    background-color: #474e9e;
    padding: 10px 0;
}

.supportSection h4 {
    color: #fff;
    text-align: center;
}

.supportSection p {
    color: #fff;
    text-align: center;
}


/**
@ Decksys Hosting Types Available Styling Section
**/

.hostingTypes {
    padding: 50px 0 0 0;
}

.hostingBox:hover {
    background-color: #f9f9ff;
    border-radius: 10px;
}

.hostingTypeContainer {
    position: relative;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 50px;

}

.hostingTypeImageContainer {
    width: 96px;
    height: 96px;
    display: block;
}

.hostingTypeContent {
    position: absolute;
    top: 0%;
    left: 130px;
}

#cloudHosting {
    background-image: url("../images/hosting-types/cloudhosting.png");
}

#dedicatedServer {
    background-image: url("../images/hosting-types/dedicatedser.png");
}

#managedWordpress {
    background-image: url("../images/hosting-types/managed-wordpress-1.png");
}

#smeSharedHosting {
    background-image: url("../images/hosting-types/smehosting.png");
}


/**
@ Decksys Features Styling Section 
**/

.featureSection {
    margin-top: 50px;
    background-color: #e2e2ec;
    padding: 30px 0 0 0;
}

.featureContainer {
    margin-bottom: 20px;
}

.featureImageContainer {
    height: 96px;
    background-repeat: no-repeat;
    background-position: center center;
}

.featureContentContainer {
    text-align: center;
    padding: 20px 0 0 0;
}

#phoneSupport {
    background-image: url("../images/features/phone.png");
}

#liveChat {
    background-image: url("../images/features/chat.png");
}

#upTime {
    background-image: url("../images/features/uptime.png");
}

#submitTicket {
    background-image: url("../images/features/ticket.png");
}

#moneyBack {
    background-image: url("../images/features/moneyback.png");
}


/**
@ Decksys Client Thoughts Styling Section
**/

.clientsThoughtSection {
    height: 200px;
    background-color: #fff;
    margin-top: 20px;
}

.clientsThoughtSection h3 {
    text-align: center;
}

.clientThoughtContainer p.clientThought {
    text-align: center;
    margin-top: 30px;
}

.clientThoughtContainer .client {
    float: right;
    margin-top: 15px;
    text-align: unset;
}

.clientThoughtContainer .client p.clientName {
    margin: 0 0 3px 0;
}


/**
@ Decksys Footer Styling Section
**/

.appFooter {
    margin-top: 20px;
    background-color: #effaff;
}

.footerContent {
    background-color: #effaff;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
}

.footerContent ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footerContent ul>h4 {
    color: #000;
}

.footerContent ul li>a {
    text-decoration: none;
    color: #1c1c1c;
}

.decksysSocialSupport {
    background-color: #27a2db;
    padding: 20px 0;
}

.decksysSocialSupport .socialConnect>p {
    margin-top: 15px;
}

.decksysSocialSupport p>a:first-child {
    /*margin-left: 5px;*/
}

.decksysSocialSupport .socialImageContainer {
    height: 36px;
    background-color: #27a2db;
    border-radius: 50px;
    background-size: contain;
    background-position: center center;
}

.decksysSocialSupport .socialImageContainer:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 1s;
}


/*
|---------------------------------------------------------------------------------------------------
| Page 2 : SME Hosting Page Styling Section Starts
|---------------------------------------------------------------------------------------------------
| @package  Decksys
| @author   Decksys Team
| @Date     Oct 13 2017
|
*/

.smeHostingSection {
    background-color: #474e9e;
}

.smeOverride {
    background-image: url("/img/common/decksys_sme_header_compressed_2.jpg");
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.smeHostingSection ul.smeHostingTabsContainer {
   
    flex-direction: row;
    justify-content: center;
    text-overflow: ellipsis;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
text-align:center;
}

.smeHostingSection ul.smeHostingTabsContainer>li {
    background-color: #474e9e;
    display: inline-block;
    padding: 15px 20px;
}

.smeHostingSection ul.smeHostingTabsContainer>li>p {
    margin-bottom: 0;
    color: #fff;
}

.smeHostingSection ul.smeHostingTabsContainer>li:hover {
    background-color: #5c73c1;
    cursor: pointer;
}

.smeHostingSection ul.smeHostingTabsContainer>li.active {
    background-color: #5c73c1;
	cursor:default;
}

.tabHostingFeatureContainer {
    padding-bottom: 40px;
}

.tabContentContainer,
.tabHostingFeatureContainer {
    position: relative;
}

tabFeatureContent {
    position: relative;
}

.tabContentContainer .tabContent,
.tabHostingFeatureContainer .tabFeatureContent {
    display: none;
}

.tabContentContainer .tabContent.active,
.tabHostingFeatureContainer .tabFeatureContent.active {
    display: inherit;
}

#linuxHosting {
    margin: 10px 10px;
}

.tabContent h3,
.tabHostingFeatureContainer .tabFeatureContent>h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tabHostingFeatureContainer .tabFeatureContent>h3 {
    color: #fff;
}

.tabHostingFeatureContainer {
    background-color: #7da7d9;
    /* height: 400px; */
   /* margin-top: 40px;*/
    /* margin-bottom: -20px; */
}

.tabHostingFeatureContainer section.tabFeatureContent div.paddOnXS {
    padding-left: 15px;
    padding-right: 15px;
}

.availableFeatures {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    /* border: 1px solid white; */
}

.tabHostingFeatureContainer .availableFeatures .a_fImageContainer {
    height: 96px;
    width: 96px;
    display: block;
    background-size: cover;
    /* border: 1px solid #fff; */
}

.availableFeatures .a_fContentContainer {
    position: absolute;
    top: 0;
    left: 115px;
}

.availableFeatures .a_fContentContainer h4 {
    margin-top: 0;
    color: #fff;
}

.availableFeatures .a_fContentContainer p {
    color: #fff;
}


#letsEncrypt {
    background-image: url("/images/hosting-features/letsencrypt.png");
}

#magento {
    background-image: url("/images/magento.png");

}

#joomla {
    background-image: url("/images/joomla.png");
    height: 89px;
}

#opencart {
    background-image: url("/images/opencart.png");

}

#woocommerce {
    background-image: url("/images/woocommerce.png");
    height: 100px;
}

#prestashop {
    background-image: url("/images/prestashop.png");

}

#zencart {
    background-image: url("/images/zencart.png");

}

#webHostManager {
    background-image: url("/images/hosting-features/cpanel_whm.png");
}

#softaculous {
    background-image: url("/images/hosting-features/softaculous.png");
}

#cloudLinux {
    background-image: url("/images/hosting-features/cloudlinux.png");
}

#hostInterface {
    background-image: url("/images/hosting-features/pleskonyk.png");
}

#codeMgt {
    background-image: url("/images/hosting-features/git.png");
}

#dockerSupport {
    background-image: url("/images/hosting-features/docker.png");
}

div.dividerCustom {
    height: 370px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    right: 30%;
}

.show_on_lg {
    display: none;
}

.asideF_L_Container {
    box-sizing: content-box;
}

.tabFeatureContent .asideF_L_Container ul.featuresList {

    padding: 0 0 0 20px;
    /* list-style-image: url("/images/arrow.png"); */
    font-weight: inherit;
    color: #fff;
    font-size: 14px;


}

.tabFeatureContent .asideF_L_Container ul.featuresList li {
    padding-bottom: 10px;
    color: #fff;
    padding-left: 5px;
}

.tabFeatureContent .chatFeature {
    box-sizing: content-box;
    display: block;
    width: 100%;
}

.tabFeatureContent .chatFeature a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    margin-top: 50px;
}

.tabFeatureContent .chatFeature a.btn {
    background-color: #5348ae;
    border: 1px solid #5348ae;
    border-radius: 0;
}

.whatWeDo {
    background-color: #8781bd;
    padding: 20px 0;
    margin-bottom: -20px;
    position: relative;
    display: block;
}

.w_w_d_Content {
    width: 90%;
    margin: 0 auto;
}

.w_w_d_Content p {
    color: #fff;
}

.w_w_d_Content:first-child {
    margin-top: 10px;
}

.howToPay {
    padding-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.howToPay p {
    margin-bottom: 0;
    color: #fff;
}

.howToPay .paymentMethod {
    margin-left: 10px;
}

.howToPay p>img {
    margin-top: -5px;
}


/** SME Hosting animation Testing Section**/

.slideFromRight {
    position: relative;
    animation: slideIn .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    from {
        right: -50%;
        transition: slideIn .8s;
    }
    to {
        right: 0%;
    }
}


/** Hosting Tables Styling Section  Starts **/

.table td {
    text-align: center;
}

table thead tr td {
    border: 2px solid #5972c2 !important;
}

table thead tr td:first-child {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
}

table td {
    border: 1px solid #5972c2;
}

table tbody tr td:first-child {
    background-color: #ededed;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 15px;
}


/** Cloud Hosting **/

.CloudHostingSection {
    background-color: #474e9e;
}
.CloudHostingSection ul.CloudHostingTabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-overflow: ellipsis;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.CloudHostingSection ul.CloudHostingTabsContainer>li {
    background-color: #474e9e;
    display: inline-block;
    padding: 15px 20px;
}
.CloudHostingSection ul.CloudHostingTabsContainer>li>p {
    margin-bottom: 0;
    color: #fff;
}
.CloudHostingSection ul.CloudHostingTabsContainer>li:hover {
    background-color: #5c73c1;
    cursor: default;
}

.CloudHostingSection ul.CloudHostingTabsContainer>li.active {
    background-color: #5c73c1;
}

.tabsHostingFeatureContainer {
    padding-bottom: 40px;
}

.tabsContentContainer,
.tabsHostingFeatureContainer {
    position: relative;
}

.tabsHostingFeatureContainer {
    background-color: #7da7d9;
    height: 400px;
    margin-top: 40px;

}
.C_H_Override {
    background-image: url("../img/common/cloudhosting.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 1%;
    background-size: cover;
    position: relative;
}
.bottomleft {
    position: absolute;
    bottom:50%;
    left: 16%;
    width: 400px;
    font-weight: bold;
    color: #fff;
    padding:0;
    font-family: Nunito-regular;
    line-height:50%;
}

.CloudHostingServer h3 {
    text-align:left;
}
.C_H_ContentContainer .C_H_Content h4 {
    text-align: center;
    background-color:#474e9e;
    width: 100%;
    border: 0;
    padding: 15px 0;
    margin-top:0;
}
.CloudHostingServer h4 {
    text-align: center;
    color: white;
}

.C_H_ContentContainer .C_H_Content h4 {
    text-align: center;
	font-size:15px;
}

.C_H_ContentContainer ul {
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    font-size:medium;
    font-family:Nunito-regular;

}

.C_H_ContentContainer .C_H_Content {
    border: 1px solid #440e62;
    float: none;
margin:10px 0px 10px 0px;
}

.C_H_ContentContainer .C_H_Content button {
    width: 50%;
    background-color: #00adef;
    border: 0;
    color: #fff;
    padding: 15px 0;
    margin-top: 10px;
    margin-bottom:10px;

}

.h2{
    margin-top:40px;
    margin-bottom:40px;
}



/** Cloud Hosting End **/






/** Hosting Tables Styling Section  Ends **/


/*
|---------------------------------------------------------------------------------------------------
| Page 3 : Dedicated Server Styling Page
|---------------------------------------------------------------------------------------------------
| @package  Decksys
| @author   Decksys Team
| @Date     Dec 12 2017
|
*/

.d_s_Override {
    background-image: url("/img/common/dedicated_server.jpg");
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 1%;
    background-size: cover;
    position: relative;
}

.dedicatedServer h3 {
    margin-bottom: 20px;
}

.dedicatedServer h4 {
    text-align: center;
    background-color:#474e9e;
    width: 100%;
    border: 0;
    padding: 15px 0;
    margin-top:0;
}

.dedicatedServer .d_s_ContentContainer {
    /* border: 1px solid #eeeeee; */
    padding: 10px;
    margin-top: 50px;
}

.d_s_ContentContainer .d_s_Content h3 {
    text-align: center;
}

.d_s_ContentContainer ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 15px;
text-align: center;
}

.d_s_ContentContainer .d_s_Content {
    border: 1px solid #440e62;
    float: none;
margin-bottom:20px;
      
}

.d_s_ContentContainer .d_s_Content button {
    width: 50%;
    background-color: #00adef;
    border: 0;
    color: #fff;
    padding: 10px 0;
   margin-bottom: 10px;
}

.d_s_thfOverride h3 {
    margin-bottom: 60px !important;
}

.d_s_FeatureContainer ul {
    list-style-type: none;
}

.d_s_FeatureContainer .d_s_FeatureList {
    border: 1px solid #eaeaea;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.d_s_FeatureContainer ul li p {
    color: #fff;
}
.map {
    min-width: 300px;
    min-height: 345px;
    width: 100%;
    height: 100%;
}

.mapHeader {
    background-color: #F5F5F5;
    color: #008dd2;
    height: 70px;
    font-size: 27px;
    padding: 18px;
}

.br-cart {
    background-image: url(/getImage.php?src=newhpcart.png);
    font-size: 24px;
    margin-top: 24px;
    height: 36px;
    width: 63px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-right: 10px!important;
}





section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

div.accordion {
    background-color:white;
    color: #444;
    cursor: pointer;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size:medium;
    transition: 0.4s;
}

div.active, div.accordion:hover {
    background-color:white;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

div.panel {
    background-color: white;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.2s ease-out;
    width:100%;
}

#header {
    background: #000 !important;
}

.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border:none;

}
.card-header a i{
    float:left;
    font-size:25px;
    padding:5px 0;
    margin:0 25px 0 0px;
    color:#195C9D;
}
.card-header i{
    float:right;
    font-size:30px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin:0;
}

.card-header h3 {
    margin:0 0 0px;
    font-size:20px;
    font-family: 'Nunito-Light';
    color:#3fc199;
}



.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top:1px soild #000;
    border-radius:0;
}
.fa-inr{
     font-size: 13px !important;
     }

.fa-shopping-cart{
	color: #fff !important; 
	font-size: 1.25em !important;
}

@media only screen and (max-width:768px) {
   .nav li {
width:100% !important;
}

}
/* The container */
.containerRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
	width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float:left;
	color:#000;
}

/* Hide the browser's default radio button */
.containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}    display: block;
}

/* Style the checkmark/indicator */
.containerRadio .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


