/**
 * Decksys Font Styling Documentation
 *
 * This Decksys Version Currently Using the Google Fonts
 *
 * @project   Decksys
 * @version   0.0.1
 * @package   Google Fonts (Nunito)
 * @authors   Decksys Team
 * @Date      Oct 2 2017 - 
 *
**/


/** 
|---------------------------------------------------------
| Fonts Global Declaration
|---------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/

@font-face {
    font-family: Nunito-Light;
    src: url("/fonts/Nunito/Nunito-Light.ttf");
}

@font-face {
    font-family: Nunito-Regular;
    src: url("/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: Nunito-Bold;
    src: url("/fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url("/fonts/Nunito/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito-Italic;
    src: url("/fonts/Nunito/Nunito-Italic.ttf");
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 1 :  Landing (or) Home Page Styling Section
|---------------------------------------------------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/

.navbarCustom ul li a {
    font-family: Nunito-SemiBold !important;
}

.supportSection h4 {
    font-family: Nunito-Regular !important;
    font-size: 1.4em;
}

.supportSection p {
    font-family: Nunito-Regular !important;
}

.hostingTypes h3 {
    font-family: Nunito-SemiBold !important;
}

.hostingTypes p {
    font-family: Nunito-Regular !important;
    font-size: 1.1em;
}

.featureContentContainer h3 {
    font-family: Nunito-Bold !important;
    /* font-size: 1.5em; */
}

.featureContentContainer p {
    font-family: Nunito-Regular !important;
    font-size: 1em;
}

.clientsThoughtSection h3 {
    font-family: Nunito-Bold;
}

.clientsThoughtSection p.clientThought {
    font-family: Nunito-Regular;
    font-size: 1.1em;
}

.clientsThoughtSection p.clientName {
    font-family: Nunito-Regular;
}

.clientsThoughtSection p.clientCompanyName {
    font-family: Nunito-Italic;
}

.appFooter ul>h4 {
    font-family: Nunito-Bold;
}

.appFooter ul>li>a {
    font-family: Nunito-Regular;
    font-size: 1.1em;
}

.decksysSocialSupport p {
    font-family: Nunito-Regular;
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 2 :  SME Page Styling Section  (( SME==> Small To Medium Enterprise ))
|---------------------------------------------------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/

.smeHostingSection ul li p {
    font-family: Nunito-SemiBold;
}

.tabContentContainer section.tabContent h3 {
    font-family: Nunito-Bold;
}

.tabContentContainer section.tabContent table td {
    font-family: Nunito-Regular;
}

.tabHostingFeatureContainer section.tabFeatureContent>h3 {
    font-family: Nunito-Bold;
}

.tabFeatureContent .a_fContentContainer h4 {
    font-family: Nunito-Bold;
}

.tabFeatureContent .a_fContentContainer p {
    font-family: Nunito-Regular;
}

.tabFeatureContent .chatFeature a {
    font-family: Nunito-Bold;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.asideF_L_Container ul li p {
    font-family: Nunito-Regular;
    font-size: 1em;
}

.w_w_d_Content p {
    font-family: Nunito-Regular;
    font-size: 1.1em;
}

.howToPay p {
    font-family: Nunito-Bold;
    font-size: 1.1em;
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 3 : Dedicated Server  Page Styling Section  
|---------------------------------------------------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/

.dedicatedServer h4 {
    font-family: Nunito-SemiBold;
}

.d_s_Content h4 {
    font-family: Nunito-Bold;
    font-size: 1.4em;
}

.d_s_Content ul li>p {
    font-family: Nunito-Regular;
    font-size: 1.1em;
}

.d_s_ContentContainer .d_s_Content button {
    font-family: Nunito-Regular;
    font-size: 1.1em;
}

.d_s_FeatureContainer ul li p {
    font-family: Nunito-SemiBold;
    font-size: 1.1em;
}


/** 
|---------------------------------------------------------------------------------------------------
| Page 4 : ? Page Styling Section  
|---------------------------------------------------------------------------------------------------
| @ Tittle         :  Decksys FontStyling Section
| @ Primary Font   :  Nunito-SemiBold
| @ Secondary Font :  Nunito-*
|
**/